# Series

Series is a one dimentional array holding data fo any type.
Here is an example

In [5]:
import numpy as np
import pandas as pd

data = np.random.randint(low=12,high=36,size=5)

series = pd.Series(
    data,
    index=['ranit','neha','shouvik','satadru','alex'],
    dtype='int32',
    name='people\'s age',
)

series.index.name="Names"

print(series)

Names
ranit      25
neha       29
shouvik    25
satadru    12
alex       22
Name: people's age, dtype: int32

The data can be the type of **list**, **dictionary**, **tuple**, **scaler value**, **numpy array**

In [ ]:
import pandas as pd

#list
l = [9,66,-3]
series1 = pd.Series(l)
print(series1)
print("----------")

#dictionary
dict = {
    "names":["a","b","c","d"],
    "age":[1,2,3],
    "number": 566
}
series2 = pd.Series(dict)
print(series2)
print("----------")

#tuple
t=(23, "Rj" ,66.8, -90)
series3 = pd.Series(t)
print(series3)
print("----------")

#scaler value
value = 12
series4 = pd.Series(value)
print(series4)
print("----------")

series5 = pd.Series(value,index=[1,2,3,4,5])
print(series5)

0     9
1    66
2    -3
dtype: int64
----------
names     [a, b, c, d]
age          [1, 2, 3]
number             566
dtype: object
----------
0      23
1      Rj
2    66.8
3     -90
dtype: object
----------
0    12
dtype: int64
----------
1    12
2    12
3    12
4    12
5    12
dtype: int64

### Attributes

In [22]:
import numpy as np
import pandas as pd

data = np.random.randint(low=12,high=36,size=5)

series = pd.Series(
    data,
    index=['ranit','neha','shouvik','satadru','alex'],
    dtype='int32',
    name='people\'s age',
)

series.index.name="Names"

print(f"Shape : {series.shape}")
print(f"Size : {series.size}")
print(f"Dimension : {series.ndim}")
print(f"Data type : {series.dtype}")
print(f"Indexes : {series.index}")
print(f"Values : {series.values}")
print(f"Name : {series.name}")
print(f"Index name : {series.index.name}")

Shape : (5,)
Size : 5
Dimension : 1
Data type : int32
Indexes : Index(['ranit', 'neha', 'shouvik', 'satadru', 'alex'], dtype='object', name='Names')
Values : [15 32 20 29 25]
Name : people's age
Index name : Names

### Element access

In [ ]:
import pandas as pd

series = pd.Series(
    [37, 12, 96, -45],
    index=["first", "second", "third", "fourth"],
    dtype="int32"
)

print(series)

print(f"\nBy integer : {series.iloc[1]}\n")
print(f"By label : {series.loc["third"]}\n")  # .loc() or [] directly becasuse we manually set those lebels
print(f"Multiple elements :\n{series.iloc[[0,1]]}\n")
print(f"Sliced series :\n{series[1:3]}")

first     37
second    12
third     96
fourth   -45
dtype: int32

By integer : 12

By label : 96

Multiple elements :
first     37
second    12
dtype: int32

Sliced series :
second    12
third     96
dtype: int32

### Modify

In [ ]:
import pandas as pd

series = pd.Series([1,2,3,4])

print(series)

series[1:3] = 5
series.loc[0] = -90

print(series)

0    1
1    2
2    3
3    4
dtype: int64
0   -90
1     5
2     5
3     4
dtype: int64

### Operations

We can use all numpy methods here ,like **np.sum()**,**np.mean()** etc.

In [51]:
import numpy as np
import pandas as pd

data = np.random.randint(low=20,high=68,size=3)

series = pd.Series(data)

print(series)

print(f"\nMean : {series.mean()}") # or np.mean(series)
print(f"Median : {series.median()}")
print(f"Std : {series.std()}") # standard deviation
print(f"Max : {series.max()}")
print(f"Min : {series.min()}")
print(f"Sum : {series.sum()}")
print(f"\nDescription :\n{series.describe()}\n")
print(f"Counts : \n{series.value_counts()}")

0    25
1    60
2    48
dtype: int64

Mean : 44.333333333333336
Median : 48.0
Std : 17.7857620959388
Max : 60
Min : 25
Sum : 133

Description :
count     3.000000
mean     44.333333
std      17.785762
min      25.000000
25%      36.500000
50%      48.000000
75%      54.000000
max      60.000000
dtype: float64

Counts :
25    1
60    1
48    1
Name: count, dtype: int64

### Boolean indexing

In [53]:
import pandas as pd

series = pd.Series([10,6,-4,23,22])

print(series[series > 10])

3    23
4    22
dtype: int64

### Handling missing values

In [67]:
import pandas as pd

series = pd.Series(["Ranit", 21, None])
print(series)

print(f"\nIs series null :\n{series.isnull()}")
print(f"\nIs series not null :\n{series.notnull()}")
print(f"\nFill NaN :\n{series.fillna(0,inplace=False)}")
print(f"\nDrop NaN :\n{series.dropna()}")

0    Ranit
1       21
2     None
dtype: object

Is series null :
0    False
1    False
2     True
dtype: bool

Is series not null :
0     True
1     True
2    False
dtype: bool

Fill NaN :
0    Ranit
1       21
2        0
dtype: object

Drop NaN :
0    Ranit
1       21
dtype: object

### Sorting

In [73]:
from numpy import random as rd
import pandas as pd

series = pd.Series(rd.randint(low=10,high=96,size=5),index=[4,0,1,3,2])

print(series,end="\n\n")

print(f"Sort by index :\n{series.sort_index()}\n")
print(f"Sort by values :\n{series.sort_values()}")

4    12
0    35
1    91
3    75
2    25
dtype: int64

Sort by index :
0    35
1    91
2    25
3    75
4    12
dtype: int64

Sort by values :
4    12
2    25
0    35
3    75
1    91
dtype: int64

### Insert and Delete

In [15]:
import numpy as  np
import pandas as pd

series = pd.Series([11,23,64,17,-99])
print(series)

index=3

series = pd.concat([
    series.iloc[:index],
    pd.Series([1000]),
    series.iloc[index:]
])

print(f"\nInserted value at index {index} :\n{series}")
print(f"\nDropped index 1 :\n{series.drop(1,inplace=False)}")

0    11
1    23
2    64
3    17
4   -99
dtype: int64

Inserted value at index 3 :
0      11
1      23
2      64
0    1000
3      17
4     -99
dtype: int64

Dropped index 1 :
0      11
2      64
0    1000
3      17
4     -99
dtype: int64

### Useful methods

In [22]:
import numpy as np
import pandas as pd

series = pd.Series(np.random.randint(low=0,high=42,size=5))
print(series)
print(f"\nTop 3 elemnts :\n{series.head(3)}")
print(f"\nLast 3 elemnts :\n{series.tail(3)}")
print(f"\nClipped values :\n{series.clip(0,10)}")

0    35
1    23
2    22
3     4
4     9
dtype: int64

Top 3 elemnts :
0    35
1    23
2    22
dtype: int64

Last 3 elemnts :
2    22
3     4
4     9
dtype: int64

Clipped values :
0    10
1    10
2    10
3     4
4     9
dtype: int64